/* Welcome to Compass.
 * In this file you should write your primary styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 63, ../sass/screen.scss */
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #424242;
  line-height: 1.5;
}
/* line 69, ../sass/screen.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: bold;
}
/* line 72, ../sass/screen.scss */
body .container {
  margin-bottom: 4em;
}

/* line 78, ../sass/screen.scss */
button.btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none !important;
}

/* line 85, ../sass/screen.scss */
.section {
  margin-top: 2em;
  border-top: 1px dashed #ddd;
}
/* line 88, ../sass/screen.scss */
.section h4 {
  margin-top: 1.5em;
}

/* line 96, ../sass/screen.scss */
tr > td:first-child {
  height: 3em;
  width: 6em;
}

/* line 103, ../sass/screen.scss */
tr.primary-action td:first-child {
  background-color: #F37025;
}

/* line 109, ../sass/screen.scss */
tr.alt-action td:first-child {
  background-color: #3299BB;
}

/* line 115, ../sass/screen.scss */
tr.text-dark td:first-child {
  background-color: #424242;
}

/* line 121, ../sass/screen.scss */
tr.accent-gray td:first-child {
  background-color: #BCBCBC;
}

/* line 127, ../sass/screen.scss */
tr.accent-gray-2 td:first-child {
  background-color: #E9E9E9;
}

/* line 133, ../sass/screen.scss */
tr.success-green td:first-child {
  background-color: #38da4a;
}

/* line 139, ../sass/screen.scss */
tr.warning-red td:first-child {
  background-color: #FF6666;
}

/* line 148, ../sass/screen.scss */
.typography blockquote p:first-child {
  font-weight: 300;
}
/* line 151, ../sass/screen.scss */
.typography blockquote p:nth-child(2) {
  font-weight: 400;
}
/* line 154, ../sass/screen.scss */
.typography blockquote p:last-child {
  font-weight: 700;
}

/* line 164, ../sass/screen.scss */
.components ul.buttons {
  list-style: none;
  padding: 0;
}
/* line 167, ../sass/screen.scss */
.components ul.buttons li {
  display: inline-block;
}
/* line 169, ../sass/screen.scss */
.components ul.buttons li button, .components ul.buttons li button:hover, .components ul.buttons li button:active, .components ul.buttons li button:focus, .components ul.buttons li button:visited {
  color: white;
  padding: 0.75em 1.25em;
}
/* line 174, ../sass/screen.scss */
.components ul.buttons li:first-child button {
  background-color: #F37025;
}
/* line 177, ../sass/screen.scss */
.components ul.buttons li:nth-child(2) button {
  background-color: #f69055;
}
/* line 180, ../sass/screen.scss */
.components ul.buttons li:nth-child(3) button {
  background-color: #f1600d;
}
/* line 183, ../sass/screen.scss */
.components ul.buttons li:nth-child(4) button {
  background-color: #F37025;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-right: 1em;
}
/* line 31, ../sass/screen.scss */
.components ul.buttons li:nth-child(4) button:hover, .components ul.buttons li:nth-child(4) button:active, .components ul.buttons li:nth-child(4) button:visited, .components ul.buttons li:nth-child(4) button:focus {
  color: white;
}
/* line 34, ../sass/screen.scss */
.components ul.buttons li:nth-child(4) button:hover {
  background-color: #f69055;
}
/* line 37, ../sass/screen.scss */
.components ul.buttons li:nth-child(4) button:active {
  background-color: #f1600d;
}
/* line 40, ../sass/screen.scss */
.components ul.buttons li:nth-child(4) button:focus {
  outline-color: rgba(243, 112, 37, 0.7);
}
/* line 187, ../sass/screen.scss */
.components ul.buttons li:nth-child(5) button {
  background-color: #3299BB;
}
/* line 190, ../sass/screen.scss */
.components ul.buttons li:nth-child(6) button {
  background-color: #50b0d0;
}
/* line 193, ../sass/screen.scss */
.components ul.buttons li:nth-child(7) button {
  background-color: #2d89a7;
}
/* line 196, ../sass/screen.scss */
.components ul.buttons li:nth-child(8) button {
  background-color: #3299BB;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 48, ../sass/screen.scss */
.components ul.buttons li:nth-child(8) button:hover, .components ul.buttons li:nth-child(8) button:active, .components ul.buttons li:nth-child(8) button:visited, .components ul.buttons li:nth-child(8) button:focus {
  color: white;
}
/* line 51, ../sass/screen.scss */
.components ul.buttons li:nth-child(8) button:hover {
  background-color: #50b0d0;
}
/* line 54, ../sass/screen.scss */
.components ul.buttons li:nth-child(8) button:active {
  background-color: #2d89a7;
}
/* line 57, ../sass/screen.scss */
.components ul.buttons li:nth-child(8) button:focus {
  outline-color: rgba(45, 137, 167, 0.7);
}
/* line 202, ../sass/screen.scss */
.components ul.forms {
  list-style: none;
  padding: 0;
}
/* line 205, ../sass/screen.scss */
.components ul.forms li {
  display: inline-block;
}
/* line 207, ../sass/screen.scss */
.components ul.forms li input {
  padding-left: 0.25em;
  width: 10em;
}
/* line 211, ../sass/screen.scss */
.components ul.forms li:first-child input {
  outline: none;
  border: 2px solid #BCBCBC;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 217, ../sass/screen.scss */
.components ul.forms li:nth-child(2) input {
  outline: none;
  border: 2px solid #50b0d0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 223, ../sass/screen.scss */
.components ul.forms li:nth-child(3) input {
  outline: none;
  border: 2px solid #FF6666;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 229, ../sass/screen.scss */
.components ul.forms li:last-child input {
  outline: none;
  border: 2px solid #BCBCBC;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 234, ../sass/screen.scss */
.components ul.forms li:last-child input:focus {
  border-color: #50b0d0;
}
/* line 241, ../sass/screen.scss */
.components ul.links {
  list-style: none;
  padding: 0;
}
/* line 244, ../sass/screen.scss */
.components ul.links li {
  display: inline-block;
}
/* line 246, ../sass/screen.scss */
.components ul.links li a {
  color: #F37025;
  margin-right: 1em;
  font-weight: 400;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 252, ../sass/screen.scss */
.components ul.links li:first-child a {
  text-decoration: none;
}
/* line 255, ../sass/screen.scss */
.components ul.links li:nth-child(2) a {
  text-decoration: underline;
  color: #f69055;
}
/* line 259, ../sass/screen.scss */
.components ul.links li:nth-child(3) a {
  text-decoration: underline;
  color: #f1600d;
}
/* line 264, ../sass/screen.scss */
.components ul.links li:nth-child(4) a:hover {
  color: #f69055;
}
/* line 267, ../sass/screen.scss */
.components ul.links li:nth-child(4) a:active {
  color: #f1600d;
}
/* line 272, ../sass/screen.scss */
.components ul.links li:nth-child(5) a:hover {
  color: #f69055;
}
/* line 275, ../sass/screen.scss */
.components ul.links li:nth-child(5) a:active {
  color: #f1600d;
}
